<div class="flex flex-row items-start gap-4">
    <!-- 图片部分 -->
    <div class="h-48 w-32 flex-shrink-0" style="flex-basis: 8rem;">
        <img loading="lazy" class="object-cover h-full w-full" referrerpolicy="no-referrer" src="{{ include.image_url }}">
    </div>

    <div class="flex-grow">
        <div class="flex flex-col">
            <p class="text-3xl font-bold">{{ include.title }}</p>
        </div>

        <time class="text-sm text-gray-500 inline-block py-2">{{ include.date }}</time>
        <div class="prose text-gray-800">
            <p>{{ include.description }}</p>
        </div>
    </div>
</div>

<!-- 分割线 -->
<hr class="my-6 border-gray-300 border-2">
