<div class="flex flex-row gap-4">
    <!-- 图片部分 -->
    <div class="h-48 avg-color w-32 flex-shrink-0" style="flex-basis: 8rem;">
        <img loading="lazy" class="object-cover h-40" referrerpolicy="no-referrer" src="{{ include.image_url }}">
    </div>

    <div class="flex-grow">
        <div class="flex flex-col">
            <p><a class="border-b-2 border-gray-600 text-2xl" href="{{ include.book_url }}">{{ include.title }}</a></p>
        </div>

        <time class="text-sm text-gray-500 inline-block py-2">{{ include.date }}</time>
        <div class="prose text-gray-800">
            <p>{{ include.description }}</p>
        </div>
    </div>
</div>
