<div class="flex flex-row gap-4 my-6">

    <!-- 图片部分 -->
    <div class="hidden sm:block h-48 avg-color w-32 flex-shrink-0" style="flex-basis: 8rem;">
        <a href="{{ book_url }}">
        <img loading="lazy" class="object-cover h-40" referrerpolicy="no-referrer" src="{{ image_url }}">
        </a>
    </div>

    <!-- 书籍信息部分 -->
    <div class="flex-grow">
        <div class="flex flex-col">
        <p><a class="border-b-2 border-gray-600 text-2xl" href="{{ book_url }}">{{ title }}</a></p>
        </div>
        <time class="text-sm text-gray-500 inline-block py-2">{{ date }}</time>
        <div class="prose text-gray-800">
        <p>{{ description }}</p>
        </div>
    </div>

</div>
